:root{
    --blue: rgb(124, 124, 184);
}
/* -----styling the whole form---- */
form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    row-gap: 4vh;
    width: 500px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* every internal div's of form */
.form-group div{
    display: flex;
    /* column-gap: 7vw; */
    justify-content: space-between;
    /* align-items: center; */
    
}


#formDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* border: 1px solid black; */
}

/* for styling button  */
.btn{
    /* cursor: pointer; */
    border-radius: 8px;
    margin-right: 5vw;
    cursor: pointer;
    line-height: 2;
}
/* styling button on hover  */
.btn:hover{
    color: white;
    transition-duration: 0.5s;
    /* background-color: var(--blue); */
    background-color: rgb(124, 124, 184);
    border: 2px solid red;
}

/* styling button during click */
.btn:active{
    background-color: black;
}

.form-group{
    display: flex;
    flex-direction: column;
}

/* error msg styling */
.error-text{
    color: red;
    font-family: sans-serif;
    font-size: small;
    text-decoration: solid;
}
/* styling for registration form heading  */
h2{
    text-align: center;
    font-family: sans-serif;
}

/* styling input form on focus  */
input:focus{
    border: solid red;
    /* outline: solid red; */
    background-color: #ccc;
}



