/* You can add global styles to this file, and also import other style files */
/* global styles for all buttons on hover  */
button:hover{
    background-color: black;
    color: white;
}

button:active{
    background-color: #00000099;
}
