<h4>Successfully Submitted!!</h4>
<!-- div to display the data which was submitted in form  -->
<!-- used to span tag to style it with space between  -->
<div class="main--div">
<aside class="main--div__leftAside">
<p><span>Full Name: </span><span>{{data.FirstName}}&nbsp;{{data.LastName}}</span></p>
<!-- <p><span>Last Name: </span><span>{{data.LastName}}</span></p> -->
<p><span>User Name: </span><span>{{data.UserName}}</span></p>
<p><span>Age: </span><span>{{data.Age}}</span></p>
<p><span>Email: </span><span>{{data.emailid}}</span></p>
<p><span>Phone no: </span><span>{{data.Phoneno}}</span></p>
<p><span>Date: </span><span>{{data.Date}}</span></p>
</aside>

<aside class="main--div__rightAside">
    <div *ngFor="let d of data.AdditionalData let i=index">
<p><span>Given Label-{{i+1}}: </span><span>{{d}}</span></p>
<p><span>Given Value-{{i+1}}: </span><span>{{data.AdditionalValue[i]}}</span></p>
    </div>
</aside>
</div>

<!-- AG Grid Angular Component -->
<main class="agGrid">
<ag-grid-angular 
    style="width: 80vw; height: 200px;" 
    class="ag-theme-alpine"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
</main>

