<h4>Successfully Submitted!!</h4>
<!-- div to display the data which was submitted in form  -->
<!-- used to span tag to style it with space between  -->
<div>
<p><span>First Name: </span><span>{{data.FirstName}}</span></p>
<p><span>Last Name: </span><span>{{data.LastName}}</span></p>
<p><span>User Name: </span><span>{{data.UserName}}</span></p>
<p><span>Age: </span><span>{{data.Age}}</span></p>
<p><span>Email: </span><span>{{data.emailid}}</span></p>
<p><span>Phone no: </span><span>{{data.Phoneno}}</span></p>
<p><span>First Label: </span><span>{{data.AdditionalData}}</span></p>
<p><span>Given Value: </span><span>{{AdditionalValue}}</span></p>
</div>

