/* styles for form  */
.form{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    /* align-items: center; */
}
/* error msg styling */
.error-text{
    color: red;
    font-family: sans-serif;
    font-size: small;
    text-decoration: solid;
}
/* adding cursor as pointer for selector */
#selector{
    cursor: pointer;
}
/* styling input form on focus  */
input:focus{
    border: solid red;
    /* outline: solid red; */
    background-color: #ccc;
}